// Add your own CSS here!
@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

:root {
  --light: var(--ctp-latte-base);
  --dark: var(--ctp-latte-text);
  --secondary: var(--ctp-latte-sapphire) !important;
  --visited: var(--ctp-latte-blue) !important;
  --tertiary: var(--ctp-latte-mauve) !important;
  --primary: var(--ctp-latte-peach) !important;
  --gray: var(--ctp-latte-subtext1) !important;
  --lightgray: var(--ctp-latte-overlay2) !important;
  --outlinegray: var(--ctp-latte-surface2) !important;
  --emphasis: var(--ctp-latte-maroon) !important;
  --bold: var(--ctp-latte-green) !important;
  --overlay: var(--ctp-latte-crust) !important;
}

[saved-theme="dark"] {
  --light: var(--ctp-mocha-crust) !important;
  --dark: var(--ctp-mocha-text) !important;
  --secondary: var(--ctp-mocha-sapphire) !important;
  --visited: var(--ctp-mocha-blue) !important;
  --tertiary: var(--ctp-mocha-mauve) !important;
  --primary: var(--ctp-mocha-peach) !important;
  --gray: var(--ctp-mocha-subtext1) !important;
  --lightgray: var(--ctp-mocha-overlay2) !important;
  --outlinegray: var(--ctp-mocha-surface2) !important;
  --emphasis: var(--ctp-mocha-maroon) !important;
  --bold: var(--ctp-mocha-green) !important;
  --overlay: var(--ctp-mocha-base) !important;
}
p.admonitionDamageHeader
{
  background-color: var(--tertiary);
  background-image: url(/notes/images/Check-16.png);
  background-position: 9px 16px;
  background-repeat: no-repeat;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 35px;
  color: var(--ctp-mocha-crust) !important;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-right-radius: 6px;

}

p.admonitionDamageBody{
  background-color: var(--overlay);
  line-height: 18px;
  overflow: hidden;
  padding: 15px 35px;
  margin-top: 0px;
  margin-bottom: 1em;
  border-bottom-right-radius: 6px;

}

p.admonitionEnrageHeader
{
  background-color: var(--secondary);
  background-image: url(/notes/images/Warning-Message-16.png);
  background-position: 9px 16px;
  background-repeat: no-repeat;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 35px;
  color: var(--ctp-mocha-crust) !important;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-right-radius: 6px;
}

p.admonitionEnrageBody{
  background-color: var(--overlay);
  line-height: 18px;
  overflow: hidden;
  padding: 15px 35px;
  margin-top: 0px;
  margin-bottom: 1em;
  border-bottom-right-radius: 6px;
}

div.admonitionDiv{
  width: fit-content;
  min-width: 30%;
  margin: 1em 0;
}

.center{
  text-align: center;
}

.centerfig{
  text-align: center;
  max-width: fit-content;
}

.videoEmbed{
  position:relative;
  padding-bottom:45%;
  max-width:80%;
  margin: auto;
}

.videoFrame{
  width:100%;
  height:100%;
  position:absolute;
  left:0px;
  top:0px;
}

article p, article ul{
  max-width: 85%;
  margin: 1em auto;
}

blockquote p, blockquote ul{
  max-width: revert;
  margin: revert;
}

.fullwidth{
  max-width: revert;
  display: flex;
  justify-content: center;
}

#navTOC {
  transition: border-color .5s ease;
  display: block;/* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  top: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border-left: solid 3px var(--primary); /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--overlay); /* Set a background color */
  padding: 0.5em 1em 0.5em 0.5em;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  max-width: 15%;  
}

#navTOC:hover{
  border-color: var(--gray);
}

@media screen and (max-width: 600px) {
  aside#navTOC {
    visibility: hidden;
  }
}

.mainTOC{
  transition: border-color .5s ease;
  width: fit-content;
  background-color: var(--overlay);
  border-left: solid 3px var(--primary);
  line-height: 18px;
  overflow: hidden;
  padding: 0px 2em 1em 1em;
  margin-top: 0px;
  margin-bottom: 1em;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.mainTOC:hover{
  border-color: var(--gray);
}

em {
  font-style: italic;
  color: var(--emphasis);
}

figcaption p{
  font-size: smaller;
  font-style: italic;
  color: var(--bold);
}
